venv
__pycache__
staticfiles
.idea
*.py[co]$
db.sqlite3
local_settings.py
chromedriver.exe
dist
build

# ファイル容量が大きいので除外
/private_apps/auto_stock_trading/
/work_apps/Twitterアカウント作成/
/work_apps/けやきネット/

# ExcelファイルはPCで別々に使用するため除外
/private_apps/okaneko_for_famipay/登録データ.xlsx